<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>prediction</servlet-name>
        <servlet-class>controller.predictionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aboutUsController</servlet-name>
        <servlet-class>controller.aboutUsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homePageController</servlet-name>
        <servlet-class>controller.homePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTrainingErrorController</servlet-name>
        <servlet-class>controller.viewTrainingErrorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>trainGAController</servlet-name>
        <servlet-class>controller.trainGAController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>trainBPANNContrroller</servlet-name>
        <servlet-class>controller.trainBPANNContrroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewTrainingGraph</servlet-name>
        <servlet-class>controller.viewTrainingGraph</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>prediction</servlet-name>
        <url-pattern>/Prediction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aboutUsController</servlet-name>
        <url-pattern>/aboutUs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homePageController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTrainingErrorController</servlet-name>
        <url-pattern>/ViewTrainingError</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>trainGAController</servlet-name>
        <url-pattern>/trainGA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>trainBPANNContrroller</servlet-name>
        <url-pattern>/trainBPANN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewTrainingGraph</servlet-name>
        <url-pattern>/viewTraining</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
